body {
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("../images/backgroundApple.jpg");
    background-repeat: no-repeat;
    background-size:  1440px 1350px;
    background-position: 100% 77%;
    margin-left: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.main{
    width: 1440px;
    height: 335px; 
}

h1, p {
    color: rgb(252,253,254);   
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: groove 1px white;
  }

li a:hover {
    background: #2F2F30;
    background: -webkit-linear-gradient(#5F5F5F, #2F2F30);
    background:    -moz-linear-gradient(#5F5F5F, #2F2F30);
    background:         linear-gradient( #5F5F5F, #2F2F30);
} 

.menu {
    position: absolute; 
    width: 980px;
    height: 90px;
    padding-left: 230px;
    margin-top: 70px;
    font-size: small;
}

.list-menu {
    display: flex;
    width: 981px;
    height: 38px;
}

.text-menu {
    font-size: 15px;
    text-decoration: none;
    color: rgb(252,253,254);
}

.btn-play {
    display: flex;
    justify-content: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border-color: rgb(252,253,254);
    border-width: thin;
    background:transparent;
}
.white-link {
    color: aliceblue;
}
.search {
    width: 200px;
}
i.fa-play {
    color: rgb(252,253,254);
}

i.fa-search {
    color: rgb(252,253,254);
}

.fa-apple {
    color: rgb(252,253,254);
    font-size: x-large;
}

input {
    width: 106px;
}

.btn-menu :hover {
    background: #2F2F30;
    background: -webkit-linear-gradient(#5F5F5F, #2F2F30);
    background:    -moz-linear-gradient(#5F5F5F, #2F2F30);
    background:         linear-gradient( #5F5F5F, #2F2F30); 
}

.text-main {
    font-size: 30px;
    height: 400px;
    margin-top: 50px;
}

.video-link {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-right: 500px;
    margin-left: 500px;
}

.flag-image {
    width: 30px;
}

.images {
    display: flex;
    position: absolute;
    flex-direction: row;
    margin-top: 140px;
}
.image1 {
    background-image: url("../images/promo_iphone5s.jpg");
    width: 364px;
    height: 200px;
}
.image2 {
    background-image: url("../images/promo_iphone5c2.jpg");
    width: 364px;
    height: 200px;
}

.image3 {
    background-image: url("../images/promo_30_years.jpg");
    width: 364px;
    height: 200px;
}

.image4 {
    background-image: url("../images/promo_supplier_responsibility.jpg");
    width: 364px;
    height: 200px;
}
.gradient {
    background: linear-gradient( #787778 50%, #5F5F5F 50%);
}
  
.list-footer{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 500px;
    height: 27px;
    font-size: small;
}

.footer{
      position: fixed;
      bottom: 0;
      width: 980px;
      height: 70px;
      padding-left: 230px;
      font-size: small;
}

.footer-first-line {
    display: flex;
}

.footer-second-line {
    display: flex;
    align-items: center;
    height: 10px;
}
 

.footer p {
    color: rgb(95, 95, 95);
}
#tittle{
    font-size: 70px;
    font-weight: lighter;
    color: rgb(252,253,254);
    letter-spacing: .2rem;   
}

#watch-link {
    text-decoration: none;
    color: rgb(252,253,254);
}